.header {
 // position: fixed;
  z-index: -1;
  top: 0;
  align-items: center;
  height: 25vh;
  @media (min-width: 768px) and (max-width: 1365px){
    height: 13.5rem
  }
  .header-img {
    //height: 13.5rem;
    
    /*
    @media (max-width: 767px) {
      height: 10rem
    }
    @media (min-width: 768px) and (max-width: 1365px){
//height: 13.5rem
    }*/
  }
  .header-text {
    display: none;
    color: #222831;
  }
}
